<section>
  <div class="img-container">
    <img
      src="https://thumbs.dreamstime.com/b/illustrazione-di-vettore-65138894.jpg"
      alt="user-img"
    />
  </div>

  <mat-button-toggle-group
    [formControl]="ruoloControl"
    exclusive
    aria-label="Ruolo"
  >
    <mat-button-toggle value="student" class="rule">Studente</mat-button-toggle>
    <mat-button-toggle value="mentor" class="rule">Mentor</mat-button-toggle>
  </mat-button-toggle-group>

  <form [formGroup]="signupForm" (ngSubmit)="signup()">
    <mat-form-field appearance="fill" class="w-100 mb-3">
      <mat-label>Username</mat-label>
      <input matInput formControlName="username" />
      <mat-error *ngIf="signupForm.get('username')?.hasError('required')">
        Username obbligatorio
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-100 mb-3">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" type="email" />
      <mat-error *ngIf="signupForm.get('email')?.hasError('email')">
        Email non valida
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-100 mb-3">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" type="password" />

      <mat-error *ngIf="signupForm.get('password')?.hasError('pattern')">
        password non vaida
      </mat-error>
      <mat-error *ngIf="signupForm.get('password')?.hasError('required')">
        La password è obbligatoria.
      </mat-error>
    </mat-form-field>
    <p class="psw-legend">
      almeno 6 caratteri, una lettera maiuscola, un simbolo speciale e un
      numero.
    </p>

    <div
      *ngIf="signupForm.get('ruolo')?.value === 'mentor'"
      formGroupName="fasciaOraria"
    >
      <mat-form-field appearance="fill" class="w-100 mb-3 hour">
        <mat-label>Fascia Oraria Inizio</mat-label>
        <input matInput formControlName="start" type="time" />
        <mat-error
          *ngIf="signupForm.get('fasciaOraria.start')?.hasError('required')"
        >
          L'orario di inizio è obbligatorio.
        </mat-error>
      </mat-form-field>
    </div>
    <div
      *ngIf="signupForm.get('ruolo')?.value === 'mentor'"
      formGroupName="fasciaOraria"
    >
      <mat-form-field appearance="fill" class="w-100 mb-3 hour">
        <mat-label>Fascia Oraria Fine</mat-label>
        <input matInput formControlName="end" type="time" />
        <mat-error
          *ngIf="signupForm.get('fasciaOraria.end')?.hasError('required')"
        >
          L'orario di fine è obbligatorio.
        </mat-error>
      </mat-form-field>
    </div>

    <mat-form-field appearance="fill" class="w-100 mb-3" *ngIf="isMentor">
      <mat-label>Seleziona Materie e Livelli</mat-label>
      <mat-select (selectionChange)="addMateria($event.value)">
        <mat-option
          *ngFor="let materia of materieDisponibili"
          [value]="materia"
        >
          {{ materia.nome }} - Livello: {{ materia.livello }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div *ngIf="isMentor" class="selected-materie">
      <h3>Materie Selezionate</h3>
      <table class="materie-table">
        <thead>
          <tr>
            <th>Materia</th>
            <th>Livello</th>
            <th>Azioni</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let materia of materieFormArray.controls; let i = index">
            <td>{{ materia.value.nome }}</td>
            <td>{{ materia.value.livello }}</td>
            <td>
              <button mat-icon-button color="warn" (click)="removeMateria(i)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="log-in-link">
      <p>sei già registrato ?</p>
      <a routerLink="/login">log-in</a>
    </div>

    <button
      mat-raised-button
      color="primary"
      type="submit"
      class="w-100"
      [disabled]="signupForm.invalid"
    >
      Sign Up
    </button>
  </form>
</section>
