section {
  background-color: #657277;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 3rem;
}

.welcome-header {
  text-align: center;
  margin-bottom: 24px;

  .title {
    color: #3f51b5;
    font-weight: 600;
  }

  .description {
    color: #b1c21de3;
    margin-top: 8px;
  }
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
  width: 100%;
  padding-inline: 12px;
}

input {
  text-align: center;
}

a {
  color: whitesmoke;
}

.alert.alert-danger {
  background-color: orange;
  border-radius: 12px;
  padding: 5px;
  margin-bottom: 1rem;
}
