<section>
  <div class="img-container">
    <img
      src="https://thumbs.dreamstime.com/b/illustrazione-di-vettore-65138894.jpg"
      alt="user-img"
    />
  </div>

  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <mat-form-field appearance="fill" class="w-100 mb-3">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" type="email" />
      <mat-error *ngIf="loginForm.get('email')?.hasError('email')">
        Email non valida
      </mat-error>
      <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
        L'email è obbligatoria.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-100 mb-3">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" type="password" />
      <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
        La password è obbligatoria.
      </mat-error>
    </mat-form-field>

    <div *ngIf="loginError" class="alert alert-danger">
      {{ loginError }}
    </div>

    <div class="sign-up-link">
      <p>Non sei ancora registrato?</p>
      <a routerLink="">Sign-up</a>
    </div>

    <button
      mat-raised-button
      color="primary"
      type="submit"
      class="w-100"
      [disabled]="loginForm.invalid"
    >
      Log-in
    </button>
  </form>
</section>
